<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: "Mi Web" }}</title>
    {% if page.css == "style" %}
      <link rel="stylesheet" href="/assets/css/style.css">
    {% endif %}
</head>
<body>
    <div class="topnav">
      <a href="/examen/1.html">VER TABLA ALUMNOS</a>
      <a href="/examen/2.html">ORDEN ALUMNOS</a>
      <a href="/examen/3.html">AÑADIR ALUMNOS</a>
      <a href="/examen/4.html">ELIMINAR ALUMNOS</a>
    </div>
    <div class="main">
        {{ content }}
    </div>
    <div class="footer">
        <p>Mario Miguel - IMPLANTACIÓN DE APLICACIONES WEB</p>
    </div>
</body>
</html>
